<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="tv-sharp" color="primary"></ion-icon>
      <ion-label color="dark">Live TV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="radio" color="primary"></ion-icon>
      <ion-label color="dark">Radio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar-number-sharp" color="primary"></ion-icon>
      <ion-label color="dark">Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="card-outline" color="primary"></ion-icon>
      <ion-label class="tab-font" color="dark">Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
