.nbtv-logo-center-small {
    height: 25vh;
    width: 25vw;
    margin: auto;
}

.nbtv-logo-center-xxsmall {
    height: 25px;
    width: 25px;
}

.menu-font {
    font-family: 'Roboto', sans-serif;
}