.nbtv-livetv-iframe-portrait {
    width: 100vw;
    /* set height based on the width in portait mode*/
    height: calc((9/16)* 100vw); 
    border: 0;
    margin: auto;
}

.nbtv-livetv-iframe-landscape {
    width: 100vw;
    height: 100vh;
}

.portrait-mode-center {
    padding: 35% 0 0 0;
}

.p-0{
	padding:0px;
}
.fill-width{
	margin-left: -15px;
	margin-right: -15px;
}

.fullscreen-toolbar{
	 font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.fullscreen-toolbar ion-icon{
	padding: 0px;
    background-color: #262626;
    margin: 5px;
    position: absolute;
    z-index: 50000000;
    cursor: pointer;

}