<!-- iframe video player will be shown only when source 2/3 is selected. Source 1 will play hls file -->
<ion-grid class="portrait-mode-center" *ngIf="selectedSource !== null && isPortait === true ">
  <ion-row>
    <ion-col>
      <ion-item>
        <iframe id="nbtv_video_player" #video_player_iframe [src]="getSanitizedURL(selectedSource.url)" class="nbtv-livetv-iframe-portrait" >
        </iframe>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="tertiary" (click)="changeToLandscape()" color="light">
        View in Full Screen<ion-icon name="expand-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
